<footer class="bg-[#3b3533] py-10">
  <div class="w-11/12 mx-auto">
    <h2 class="m-0 text-2xl text-white">Get The Trendora App</h2>
    <p class="text-gray-500 text-sm pt-2">
      We will send you a link, open it on your phone to download the app
    </p>

    <div class="flex items-center justify-between gap-6 text-nowrap pt-3">
      <input
        type="text"
        class="w-[500px] h-10 rounded-lg border-gray-300"
        placeholder="Email"
      />
      <button class="btn-main text-white">Share App Link</button>
    </div>

    <div class="pay-details md:flex justify-between items-center my-5">
      <div class="flex items-center gap-2">
        <h3 class="text-sm m-0 text-white">Payment partners</h3>
        <img src="/amazon-pay.png" width="50px" alt="amazon-pay" />
        <img
          src="/American-Express-Color.png"
          width="50px"
          alt="American-Express-Color"
        />
        <img src="/paypal.png" width="50px" alt="paypal" />
        <img src="/mastercard.webp" width="50px" alt="mastercard" />
      </div>

      <div class="flex items-center gap-2">
        <h3 class="h6 m-0 text-white">Get Deliveries with Trendora</h3>
        <img src="/get-google-play.png" width="100px" alt="google icon" />
        <img src="/get-apple-store.png" width="100px" alt="apple-store" />
      </div>
    </div>
  </div>
</footer>
