<section>
  <div class="mt-16">
    <owl-carousel-o [options]="customMain">
      <ng-template carouselSlide>
        <img
          src="/84770f_c3a3a4bbad7144d89b51485ea65b532d~mv2.avif"
          class="w-full h-[500px]"
          alt="girl model"
        />
      </ng-template>
      <ng-template carouselSlide>
        <img
          src="/hero_bg_5.jpg.webp"
          class="w-full h-[500px]"
          alt="boy model"
        />
      </ng-template>
      <ng-template carouselSlide>
        <img
          src="/ad420a_8dd6c10bf55547e78d0d9ba1e5bb5256~mv2_d_5184_3497_s_4_2.avif"
          class="w-full h-[500px]"
          alt="girl with white"
        />
      </ng-template>
      <ng-template carouselSlide>
        <img
          src="/hero_bg_6.jpg.webp"
          class="w-full h-[500px]"
          alt="head phone model"
        />
      </ng-template>
      <ng-template carouselSlide>
        <img
          src="/ad420a_a6fde3feab894f6cae6bf59d119fc863~mv2.avif"
          class="w-full h-[500px]"
          alt="hat model"
        />
      </ng-template>
    </owl-carousel-o>
  </div>
</section>
<div class="container mb-11">
  <section
    class="mx-7 min-h-screen bg-[#FBF8F2] dark:bg-[#423C39] text-black dark:text-white"
  >
    <h1 class="text-3xl mb-3">Popular Products</h1>

    <div class="flex flex-col md:flex-row gap-4">
      <div class="mt-4 md:mt-9 flex flex-nowrap mb-12">
        <label class="screen-reader-text" for="search"></label>
        <input
          type="text"
          id="search"
          [(ngModel)]="text"
          class="search-field md:px-20 px-5 border-[#423C39] border-2 focus:ring-0 focus:border-[#423C39] dark:bg-[#FBF8F2] dark:border-[#474443] dark:text-white"
          placeholder="Search products"
          name="s"
        />

        <button
          type="submit"
          class="md:px-10 px-5 py-[9.7px] text-base text-white bg-[#423C39] hover:bg-[#3b3533] focus:outline-none dark:bg-[#5d5451]"
        >
          <i class="fas fa-search"></i>
        </button>
      </div>

      <div class="mb-6 mt-4 md:mt-9 mx-4 relative">
        <button
          id="dropdownDefaultButton"
          data-dropdown-toggle="dropdown"
          class="text-white bg-[#83BCC9] hover:bg-[#648f98] focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center inline-flex items-center dark:bg-[#648f98]"
          type="button"
        >
          Sort by
          <svg
            class="w-2.5 h-2.5 ms-3"
            aria-hidden="true"
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 10 6"
          >
            <path
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="m1 1 4 4 4-4"
            />
          </svg>
        </button>

        <div
          id="dropdown"
          class="z-10 hidden absolute bg-white divide-y divide-gray-100 rounded-lg shadow-sm w-44 dark:bg-gray-800"
        >
          <ul
            class="py-2 text-sm text-gray-700 dark:text-gray-100"
            aria-labelledby="dropdownDefaultButton"
          >
            <li>
              <a
                (click)="sortOption = 'priceLow'"
                class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-700 dark:hover:text-white cursor-pointer"
                >Price: Low to High</a
              >
            </li>
            <li>
              <a
                (click)="sortOption = 'priceHigh'"
                class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-700 dark:hover:text-white cursor-pointer"
                >Price: High to Low</a
              >
            </li>
            <li>
              <a
                (click)="sortOption = 'nameAZ'"
                class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-700 dark:hover:text-white cursor-pointer"
                >Name: A-Z</a
              >
            </li>
          </ul>
        </div>
      </div>
    </div>

    <div
      class="grid grid-cols-1 md:grid-cols-3 lg:grid-cols-4 gap-3 md:gap-10 cursor-default"
    >
      @for (product of products | search:text | sort:sortOption; track
      product.id) {
      <div
        class="card border overflow-hidden shadow relative bg-white dark:bg-[#423C39] dark:text-white rounded-md"
      >
        <div [routerLink]="['/details', product.id]">
          <div class="card-img">
            <img
              [src]="product.image"
              [alt]="product.title"
              class="w-full h-[140px] md:h-[200px] object-contain bg-white dark:bg-[#6f6764]"
            />
          </div>
          <div class="card-body py-2 md:py-4 md:px-2 text-center">
            <h3 class="font-medium text-[#423C39] dark:text-[#FBF8F2]">
              {{ product.title | termtext : 4 }}
            </h3>
            <h3 class="text-[#78aab5] dark:text-[#83BCC9]">
              ${{ product.price }}
            </h3>
          </div>
        </div>
      </div>
      }
    </div>
  </section>
</div>
