@if(detailsProduct){
<section class="md:w-[70%] w-[85%] main-sec mx-auto mt-32 mb-32">
  <h1 class="text-center text-3xl text-[#423C39] my-2">
    {{ detailsProduct.title }}
  </h1>

  <div class="grid md:grid-cols-[40%,60%] items-center gap-6 mt-7">
    <div>
      <div>
        <div class="ms-7 xl:ms-0">
          <img
            [src]="detailsProduct.image"
            class="xl:w-80 w-60 xl:ps-10 pt-5 h-[280px]"
            [alt]="detailsProduct.title"
          />
        </div>
      </div>
    </div>

    <div class="dark:text-black xl:pb-16">
      <p class="pt-5 pe-3">
        {{ detailsProduct.category }}
      </p>
      <h3 class="h6 pt-3 text-gray-500 font-bold">
        {{ detailsProduct.description }}
      </h3>

      <div class="flex items-center xl:pt-10">
        <span class="font-medium pe-28 mb-10 xl:mb-0 xl:pe-72 text-[#83BCC9]">
          {{ detailsProduct.price }}
        </span>
        <div>
          @for (num of [1,2,3,4,5].slice(0,detailsProduct.rating.rate) ; track
          $index){
          <span><i class="fas fa-star text-yellow-300"></i></span>
          } @if(detailsProduct.rating.rate ){
          <i class="fa-solid fa-star-half-stroke text-yellow-300"></i>
          }
          <span class="text-muted">
            {{ detailsProduct.rating.rate }}
          </span>
        </div>
      </div>
    </div>
  </div>
</section>
}
